.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background: #f8f8f8;
}

.dialogs .dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}